*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #f4f6f9;
    color: #333;
}

.contenedor{
    width: 90%;
    max-width: 900px;
    margin: 40px auto;
}

h1{
    text-align: center;
    margin-bottom: 20px;
    color: #1e3a5f;
}

.descripcion{
    text-align: center;
    margin-bottom: 40px;
    font-size: 18px;
}

.error-box,
.formulario-box{
    background-color: white;
    padding: 25px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
}

h2{
    margin-bottom: 15px;
    color: #24476b;
}

.boton-error{
    display: inline-block;
    margin-top: 15px;
    text-decoration: none;
    background-color: #d9534f;
    color: white;
    padding: 12px 18px;
    border-radius: 6px;
    transition: 0.3s;
}

.boton-error:hover{
    background-color: #bb2d29;
}

form{
    display: flex;
    flex-direction: column;
}

label{
    margin-top: 15px;
    margin-bottom: 5px;
    font-weight: bold;
}

input,
textarea{
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
}

button{
    margin-top: 20px;
    padding: 14px;
    border: none;
    background-color: #1e88e5;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
    background-color: #1565c0;
}

#respuesta{
    margin-top: 20px;
    font-weight: bold;
    color: green;
}