.contact-section h2 {
    text-align: center;
    margin-bottom: var(--spacing-2xl);
}

.container-fluid label{
    margin: 0;
    white-space: nowrap;
}

.contact-section h3 {
    color: var(--color-primary);
}
